{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    About MoGiBe
{% endblock %}
{% block content %}
<div class="small-container">
    <div class="body-contents">
        <div class="mogibe-logo">
            <img src="{% static 'img/logo.jpg' %}">
        </div>
        <div class="description">
            <h1>Hellow, Here is More about MoGiBe!!!!</h1>
        </div>
    </div>
    <div class="mgbhstry">
        <p>Mogibe is a group project by three students from the univeristy of embu, the project is a class assignment to be submited to their lectuer(Dkt Consolata). <br> profile for the three designers are bellow</p>
    </div>
    <div class="designers">
        <h1 id="triop">The Designers</h1>
        <div class="row">
            <div class="col-3">
                <img src="{% static 'img/mose.jpg' %}">
                <h3>Moses Nyanaro</h3>
                <hr>
                <div class="desingner-profile">
                     <p>University of Embu</p>
                     <p>Bsc. InfoTech</p>
                     <p>6-600 Embu Kenya</p>
                     <div class="social-media">
                         <p>Twitter: @Nyanaromose</p>
                         <p>Facebook: Moses</p>
                         <p>Instagram: Nyanaromose_2b</p>
                         <p>call: 0712345678</p>
                     </div>
                </div>
            </div>
            <div class="col-3">
                <img src="{% static 'img/ben.jpg' %}">
                <h3>Benson Said</h3>
                <hr>
                <div class="desingner-profile">
                     <p>University of Embu</p>
                     <p>Bsc. InfoTech</p>
                     <p>6-600 Embu Kenya</p>
                     <div class="social-media">
                         <p>Twitter: @sidben</p>
                         <p>Facebook: Benson</p>
                         <p>Instagram: saidben_19</p>
                         <p>call: 0712345678</p>
                  </div>
                </div>
           </div>
           <div class="col-3">
             <img src="{% static 'img/my_photo1.jpg' %}">
             <h3>Gideon Kirui</h3>
             <hr>
             <div class="desingner-profile">
                  <p>University of Embu</p>
                  <p>Bsc. InfoTech</p>
                  <p>6-600 Embu Kenya</p>
                  <div class="social-media">
                      <p>Twitter:@thegideon's</p>
                      <p>Facebook: gideon</p>
                      <p>Instagram: gideonkirui_b</p>
                      <p>call: 0712345678</p>
               </div>
             </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}